In [ ]:
# allow access to folder of data
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!gcloud auth application-default login

Go to the following link in your browser:

    https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=764086051850-6qr4p6gpi6hn506pt8ejuq83di341hur.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Faccounts.reauth&state=ERitUQQh4J1sRxnxEHwabWD9T25Qo3&prompt=consent&access_type=offline&code_challenge=wttbZ27L5O-DPFcpod1zSTZ0STv5HLJgH1Ak_zc2kIA&code_challenge_method=S256

Enter verification code: 4/1AY0e-g4DWaDpJRDtgR5sby_ooyz4A51uTI0W8N_YGvb5u5yAw9IYbDzxKPY

Credentials saved to file: [/content/.config/application_default_credentials.json]

These credentials will be used by any library that requests Application Default Credentials (ADC).
WARNING:
Cannot find a quota project to add to ADC. You might receive a "quota exceeded" or "API not enabled" error. Run $ gcloud auth application-default set-quota-project to add a quota project.

In [ ]:
!wget --quiet https://raw.githubusercontent.com/tensorflow/models/master/official/nlp/bert/tokenization.py
!pip install sentencepiece

Collecting sentencepiece
  Downloading https://files.pythonhosted.org/packages/e5/2d/6d4ca4bef9a67070fa1cac508606328329152b1df10bdf31fb6e4e727894/sentencepiece-0.1.94-cp36-cp36m-manylinux2014_x86_64.whl (1.1MB)
     |████████████████████████████████| 1.1MB 12.3MB/s
Installing collected packages: sentencepiece
Successfully installed sentencepiece-0.1.94

In [ ]:
import pandas as pd 
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.models import Model
from tensorflow.keras.callbacks import ModelCheckpoint
import tensorflow_hub as hub
import tokenization

In [ ]:
# helper function for encoding input texts
def bert_encode(texts, tokenizer, max_len=512):
    all_tokens = []
    all_masks = []
    all_segments = []
    
    for text in texts:
        text = tokenizer.tokenize(text)
            
        text = text[:max_len-2]
        input_sequence = ["[CLS]"] + text + ["[SEP]"]
        pad_len = max_len - len(input_sequence)
        
        tokens = tokenizer.convert_tokens_to_ids(input_sequence)
        tokens += [0] * pad_len
        pad_masks = [1] * len(input_sequence) + [0] * pad_len
        segment_ids = [0] * max_len
        
        all_tokens.append(tokens)
        all_masks.append(pad_masks)
        all_segments.append(segment_ids)
    
    return np.array(all_tokens), np.array(all_masks), np.array(all_segments)

# helper function for making the NN
def build_model(bert_layer, max_len=512):
    input_word_ids = Input(shape=(max_len,), dtype=tf.int32, name="input_word_ids")
    input_mask = Input(shape=(max_len,), dtype=tf.int32, name="input_mask")
    segment_ids = Input(shape=(max_len,), dtype=tf.int32, name="segment_ids")

    _, sequence_output = bert_layer([input_word_ids, input_mask, segment_ids])
    clf_output = sequence_output[:, 0, :]
    out = Dense(1, activation='sigmoid')(clf_output)
    
    model = Model(inputs=[input_word_ids, input_mask, segment_ids], outputs=out)
    model.compile(Adam(lr=2e-6), loss='binary_crossentropy', metrics=['accuracy'])
    
    return model

In [ ]:

# import the pre-trained BERT model
bert_module = "https://tfhub.dev/tensorflow/bert_en_uncased_L-24_H-1024_A-16/1"
bert_layer = hub.KerasLayer(bert_module, trainable=True)
vocab_file = bert_layer.resolved_object.vocab_file.asset_path.numpy()
do_lower_case = bert_layer.resolved_object.do_lower_case.numpy()
tokenizer = tokenization.FullTokenizer(vocab_file, do_lower_case)

In [ ]:
df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/data/fake_news/alldata_with_sentiment.csv")
df.head()

   Unnamed: 0  ...     mixed
0           0  ...  0.001525
1           1  ...  0.159030
2           2  ...  0.002602
3           3  ...  0.079329
4           4  ...  0.038955

[5 rows x 8 columns]

In [ ]:
df_test = df[-2000:]
df_test

       Unnamed: 0  ...     mixed
15487       15487  ...  0.417059
15488       15488  ...  0.000148
15489       15489  ...  0.000431
15490       15490  ...  0.000499
15491       15491  ...  0.005669
...           ...  ...       ...
17482       17482  ...  0.014399
17483       17483  ...  0.012930
17484       17484  ...  0.001918
17485       17485  ...  0.003517
17486       17486  ...  0.012968

[2000 rows x 8 columns]

In [ ]:
df_train = df[:-2000]
df_train

       Unnamed: 0  ...     mixed
0               0  ...  0.001525
1               1  ...  0.159030
2               2  ...  0.002602
3               3  ...  0.079329
4               4  ...  0.038955
...           ...  ...       ...
15482       15482  ...  0.008258
15483       15483  ...  0.001865
15484       15484  ...  0.002615
15485       15485  ...  0.152057
15486       15486  ...  0.773737

[15487 rows x 8 columns]

In [ ]:
df_fake = df_train[df_train['label'] == 'fake']
df_real = df_train[df_train['label'] == 'real']
print(df_fake.shape)
print(df_real.shape)

(7740, 8)
(7747, 8)

In [ ]:
df_real = df_real.sample(n=7740, random_state=42)
df_balanced = df_real.append(df_fake)
print(df_balanced.shape)

(15480, 8)

In [ ]:
df_balanced.head()

       Unnamed: 0  ...     mixed
3422         3422  ...  0.000308
2299         2299  ...  0.000468
7139         7139  ...  0.457231
10750       10750  ...  0.003555
270           270  ...  0.000644

[5 rows x 8 columns]

In [ ]:
# shuffle data
df_balanced = df_balanced.sample(frac=1, random_state = 42).reset_index(drop=True)

In [ ]:
# make sure data is shuffled
df_balanced.head()

   Unnamed: 0  ...     mixed
0       10007  ...  0.000703
1        6205  ...  0.033520
2       14958  ...  0.016814
3       13950  ...  0.007086
4        4402  ...  0.068063

[5 rows x 8 columns]

In [ ]:
df_balanced.label = df_balanced.label.replace({'real': 0, 'fake': 1})
df_balanced.head()

   Unnamed: 0  ...     mixed
0       10007  ...  0.000703
1        6205  ...  0.033520
2       14958  ...  0.016814
3       13950  ...  0.007086
4        4402  ...  0.068063

[5 rows x 8 columns]

In [ ]:
train_input = bert_encode(df_balanced.statement.values, tokenizer)

In [ ]:
train_labels = df_balanced.label.values
model = build_model(bert_layer)

In [ ]:
train_history = model.fit(
    train_input, train_labels,
    validation_split=0.2,
    epochs=2,
    batch_size=5
)

In [ ]:
model_json = model.to_json()
with open("/content/drive/My Drive/Colab Notebooks/data/fake_news/models/model.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("/content/drive/My Drive/Colab Notebooks/data/fake_news/models/model.h5")

In [ ]:
test = pd.read_csv("/content/drive/My Drive/Colab Notebooks/data/fake_news/fnn_test_trim.csv")
print(test.shape)
test.head()

(1054, 4)

   Unnamed: 0  ... label_fnn
0           0  ...      real
1           1  ...      real
2           2  ...      real
3           3  ...      real
4           4  ...      real

[5 rows x 4 columns]

In [ ]:
forfun = test[:100]
forfun.head()

   Unnamed: 0  ... label_fnn
0           0  ...      real
1           1  ...      real
2           2  ...      real
3           3  ...      real
4           4  ...      real

[5 rows x 4 columns]

In [ ]:
test_input = bert_encode(forfun.statement.values, tokenizer)
preds = model.predict(test_input)

In [ ]:
big_test = bert_encode(test.statement.values, tokenizer)
big_test_preds = model.predict(big_test)

In [ ]:
predictions = pd.DataFrame(data=big_test_preds)

In [ ]:
test.insert(4, "prediction", big_test_preds)

In [ ]:
test

      Unnamed: 0  ... prediction
0              0  ...   0.283671
1              1  ...   0.036096
2              2  ...   0.346252
3              3  ...   0.055817
4              4  ...   0.071138
...          ...  ...        ...
1049        1049  ...   0.274552
1050        1050  ...   0.083449
1051        1051  ...   0.009752
1052        1052  ...   0.025411
1053        1053  ...   0.302157

[1054 rows x 5 columns]

In [ ]:
test['prediction'] = (test['prediction'] > 0.5).astype(int)

In [ ]:
test

      Unnamed: 0  ... prediction
0              0  ...          0
1              1  ...          0
2              2  ...          0
3              3  ...          0
4              4  ...          0
...          ...  ...        ...
1049        1049  ...          0
1050        1050  ...          0
1051        1051  ...          0
1052        1052  ...          0
1053        1053  ...          0

[1054 rows x 5 columns]

In [ ]:
test['label_fnn'] = test.label_fnn.replace({'real': 0, 'fake': 1})

In [ ]:
test

      Unnamed: 0  ... prediction
0              0  ...          0
1              1  ...          0
2              2  ...          0
3              3  ...          0
4              4  ...          0
...          ...  ...        ...
1049        1049  ...          0
1050        1050  ...          0
1051        1051  ...          0
1052        1052  ...          0
1053        1053  ...          0

[1054 rows x 5 columns]